<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <title>{% if page.title %}{{ page.title | strip_html }} · {% endif %}{{ site.title | strip_html }}</title>

  <meta name="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {%- seo title=false -%}
  {%- feed_meta -%}
  {%- include jsonld-person.html -%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
